@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

:root{
    --Soft-Cyan-Full-Slider-Bar :hsl(174, 77%, 80%);
    --Strong-Cyan-Slider-Backround: hsl(174, 86%, 45%);
    --Light-Grayish-Red-Discount-Background: hsl(14, 92%, 95%);
    --Light-Red-Discount-Text: hsl(15, 100%, 70%);
    --Pale-Blue-CTA-Text: hsl(226, 100%, 87%);
    --White-Pricing-Component-Background: hsl (0, 0%, 100%);
    --Very-Pale-Blue-Main-Background: hsl(230, 100%, 99%);
    --Light-Grayish-Blue-Empty-Slider-Bar: hsl(224, 65%, 95%);
    --Light-Grayish-Blue-Toggle-Background: hsl(223, 50%, 87%);
    --Grayish-Blue-Text: hsl(225, 20%, 60%);
    --Dark-Desaturated-Blue-Textand-CTA-Background: hsl(227, 35%, 25%);

}

*{
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    padding: 0;
    margin: 0;
}
p{
    color: var(--Grayish-Blue-Text);
}
body{
    background-color: var(--Very-Pale-Blue-Main-Background);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* position: relative; */
    /* overflow: hidden; */
}

.bg-pattern{
    position: absolute;
    top: 0;
    left: 0;
    background: url('./images/pattern-background-desktop.svg') 20% 20% / cover;
    width: 100vw;
    height: 50vh;
    z-index: -1;
}
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: clamp(2rem, 10vh, 10vh);
    max-width: 80%;
    align-self: center;
}

.heading h1{
    color: var(--Dark-Desaturated-Blue-Textand-CTA-Background);
    font-size: clamp(1.8rem,4vw, 2.5rem);
    text-align: center;
    font-weight: 800;

}
.heading p{
    color: var(--Grayish-Blue-Text);
    text-align: center;
    width: 60vw;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: max-content;
    height: max-content;
    background-color: #fff;
    /* padding: 2rem; */
    align-self: center;
    margin: 2rem  0;
    border-radius: 10px;
    box-shadow: 1px 0 10px  var(--Soft-Cyan-Full-Slider-Bar);
}


.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
.btn{
    background-color: var(--Dark-Desaturated-Blue-Textand-CTA-Background);
    color: #fff;
    font-weight: normal;
    font-size: 1.2rem;
    padding: 1rem;
    border: none;
    border-radius: 40px;
    width: 300px;
    cursor: pointer;
    filter: brightness(1);
}
.btn:hover, .btn:active{
filter: brightness(2);
}
.amount{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--Dark-Desaturated-Blue-Textand-CTA-Background);
}

.pageviews p{
    font-size: 1rem;
    color: var(--Grayish-Blue-Text);
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.content{
    color: var(--Grayish-Blue-Text);
    font-size: 1rem;
}
.billing{
    display: flex;
    color: var(--Grayish-Blue-Text);
    width: 100%;
}
.billing .monthly{
    display: flex;
    margin: 1rem;
    align-items: center;
    justify-content: center;
}
.billing .yearly{
    display: flex;
    align-items: center;
    justify-content: center;
}
.discount{
    display: flex;
    background: var(--Light-Grayish-Red-Discount-Background);
    padding: 0.4em;
    border-radius: 20px;
    font-weight: bold;
    color: var(--Light-Red-Discount-Text);
    margin: 0.5em;
    font-size: .9rem;
}
.toggle{
    display: flex;
    background-color: var(--Light-Grayish-Blue-Toggle-Background);
    align-items: center;
    justify-content: flex-end;
    width: 48px;
    height: 24px;
    border-radius: 30px;
    margin: 0.5em;
    cursor: pointer;
    position: relative;
}
.toggle .inner{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
    margin: 4px;
    cursor: pointer;
}
.slider{
    background-color: var(--Light-Grayish-Blue-Empty-Slider-Bar);
    width: 100%;
    height: 6px;
    border: none;
    border-radius: 10px;
    margin: 2em;
    display: flex;
    align-items: center;

    /* overflow: hidden; */
}
.slider .container{
    width: 40%;
    height: 6px;
    background-color: var(--Strong-Cyan-Slider-Backround);
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.slider .container  .btn.slider{
   background-color: var(--Strong-Cyan-Slider-Backround);
   
   color: var(--Strong-Cyan-Slider-Backround);
   width: 40px;
   height: 40px;
   border-radius: 40px;
   display: flex;
   align-items: center;
   justify-content: center;

}
.divider{
    width: 100%;
    background-color: var(--Light-Grayish-Blue-Empty-Slider-Bar);
    height: 2px;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    flex-direction: column;
}
.bottom .goodies{
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom .goodies p{
    margin-bottom: 1em;
}








